<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <title>Contact form</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/urlvalidator/frontpage.css">
</head>
<body>
<div id="app">
    <main id="loading-zone" aria-busy="true">
        <progress aria-describedby="loading-zone"></progress>
    </main>
    <div class="main-block">
        <div class="left-part">
            <i class="fas fa-envelope"></i>
            <i class="fas fa-at"></i>
            <i class="fas fa-mail-bulk"></i>
        </div>
        <div class="form-block">
            <h1>Url Checker</h1>
            <div class="info">
                <label>
                    <input type="text" name="address" id="address">
                </label>
            </div>
            <input type="button" value="Submit" @click="getData">
        </div>

    </div>
</div>
<script type="module">
    const app = new Vue({
        el: "#app", delimiters: ['[[', ']]'],
        data() {
            return {
                broken_links: []
            };
        },
        mounted() {
        },
        computed: {},
        methods: {
            async getData() {
                await fetch("/check?" +
                    new URLSearchParams({address: document.getElementById("address").value}), {method: "GET"})
                    .then(data => data.json())
                    .then(data => this.download(data))

            },
            format(data){
                let string = '';
                for(let link of data.broken_links){
                    string = string.concat("Error(", link.status_code, "): " , link.url, " from ", link.parent_url, "\n")
                }
                return string
            },
            download(data) {
                let element = document.createElement('a');
                element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(this.format(data)));
                element.setAttribute('download', "broken_links.txt");
                element.style.display = 'none';
                document.body.appendChild(element);
                element.click();
                document.body.removeChild(element);
            }
        }
    })
</script>
</body>
</html>